.concerts-container label {
    font-size: 1.1rem;
    margin-right: 10px;
}
.concerts-container select {
    max-width: 120px;
    font-family: inherit;
    font-size: inherit;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.concerts-container select[name='sort'] {
    margin-right: 20px;
}