header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a, header h1 {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
header button {
    width: 75px;
    border-radius: 3px;
    border: 1px solid var(--blue);
    background-color: #fff;
    color: var(--blue);
    padding: 3px;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    margin-left: 20px;
}
.nav--create a {
  margin-left: 30px;
}
.nav--links a {
    margin-left: 50px;
}
.nav--links a:hover {
  opacity: 0.75;
}