* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f1f1f1;;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a, header h1 {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.concert-details {
  border: 1px solid black;
}