@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --green-primary: #198754;
  --green-secondary: #a3cfbb;
  --red-primary: #e7195a;
  --red-secondary: #f1aeb5;
  --blue: #0d6efd;
  --cyan: #0dcaf0;
}
body {
  background: #f1f1f1;;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a, header h1 {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.error {
  border: 2px solid var(--red-primary);
}
.error-message {
  display: block;
  border: 1px solid var(--red-primary);
  color: var(--red-primary);
  background-color: #ffefef;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
}

/* Homepage styling */
.home button {
  padding: 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
}
.home button:nth-of-type(1) {
  background: var(--blue);
}
.home button:nth-of-type(2) {
  background: var(--cyan);
}

/* concertDetails */
.concert-details {
  max-width: 1000px;
  background: #fff;
  border-radius: 4px;
  margin: 20px;
  padding: 20px 20px 20px 40px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5 1fr);
  cursor: pointer;
}
.orchestra {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.location {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.status {
  width: 70px;
  grid-column: 8 / 9;
  grid-row: 1 / 2;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
}
.paid {
  background-color: var(--green-secondary);
  border: 1px solid var(--green-secondary);
  border-left-width: 5px;
  border-left-color: var(--green-primary);
}
.unpaid {
  background-color: var(--red-secondary);
  border: 1px solid var(--red-secondary);
  border-left-width: 5px;
  border-left-color: var(--red-primary);
}
.date {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  font-style: italic;
}
.composers {
  grid-column: 1 / 8;
  grid-row: 4 / 5;
  border-bottom: 1px solid black;
  display: flex;
  padding-bottom: 10px;
}
.composers li {
  list-style: none;
  font-size: 1rem;
  margin-right: 2rem;
}
.instruments {
  grid-column: 1 / 7;
  grid-row: 5 / 6;
  display: flex;
  margin-top: 10px;
}
.instruments li {
  list-style: none;
  font-style: italic;
  margin-right: 2rem;
  color: rgb(0,0,0,0.7);
}

/* concert form styling */
.concert-form {
  width: 90%;
  padding: 20px;
  background: white;
  border-radius: 10px;
}
.concert-form h1 {
  margin-bottom: 20px;
  font-weight: 400;
  grid-column: 1 / 3;
}
.concert-form label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: 700;
}
.concert-form input[type='text'], input[type='date'] {
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
}
.form-top label{
  margin-right: 10px;
}
.form-top label:nth-of-type(2){
  margin-right: 10px;
  margin-left: 50px;
}
.concert-location {
  width: 300px;
}
.pay-container {
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin-bottom: 20px;
}
.pay-container h2 {
  grid-row: 1 / 2;
}
.pay-container label, input {
  display: inline;
  font-weight: 400;
}
.radio-container {
  width: 100px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-items: start;
}
.pieces h3 {
  margin-bottom: 10px;
}
.pieces label {
  display: inline;
  font-weight: 400;
}
.pieces label:nth-of-type(2) {
  margin-left: 10px;
}
.pieces-container{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}
.piece {
  padding: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(auto, 1fr);
}
.piece p {
  font-size: 1.1rem;
  margin-right: 10px;
}
.composer {
  font-weight: 700;
}
.piece span {
  cursor: pointer;
}
.instruments-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}
.instrument {
  width: auto;
  padding: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(auto, 1fr);
}
.instrument span {
  cursor: pointer;
}
.instrument p {
  font-size: 1.1rem;
  margin-right: 10px;
}
form button {
  font-size: inherit;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.add-btn {
  margin-left: 10px;
  max-width: 50px;
  padding: 5px 8px;
  background-color: var(--green-primary);
}
.create-btn {
  background-color: var(--green-primary);
}
.update-btn {
  background-color: var(--cyan);
  margin-right: 20px;
}
.delete-btn {
  background-color: var(--red-primary);
}
.input {
  border: 1px solid black;
}

/* Profile Page */
.profile-info {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.profile-info h1 {
  font-weight: 400;
  margin-bottom: 20px;
}
.profile-info h2 {
  margin-bottom: 5px;
  font-weight: 400;
}
.profile-info button {
  margin-top: 10px;
}
.group-concert-container {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr repeat(auto, 1fr);
}
.group-concert-title {
  font-weight: 400;
  font-size: 1.6rem;
  grid-column: 1 / 3;
}
.group-concert-container span {
  border: none;
  border-radius: 10px;
  color:#00000089;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  align-self: center;
  max-width: 100px;
  height: 50px;
}
.group-del {
  margin-top: 20px;
  margin-left: 20px;
}

/* GroupForm style */
.group-form {
  width: 90%;
  padding: 20px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.group-form-email-password {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.group-form-email-password label {
  grid-row: 1 / 2;
}
.group-form-email-password input {
  grid-row: 2 / 3;
}
.group-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.group-form input{
  width: 300px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
}
.group-form button {
  width: 150px;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  background: var(--green-primary);
  color: white;
  cursor: pointer;
}
.group-form textarea {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
}